@using MyBudget.Web.Models.Account
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Восстановление пароля";
}

<div class="row">
    <div class="col-8 offset-2 col-md-3 offset-md-4" style="margin-top:2rem;">
        <h3 class="text-center">Восстановление доступа</h3>
        <h6 class="text-center" style="margin-bottom: 1rem">Введите email или логин пользователя, который вы используете для входа.</h6>

        <section id="loginForm">
            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserNameOrEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserNameOrEmail, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-10 offset-md-1">
                        <input type="submit" value="Сбросить пароль" class="btn btn-primary enter-btn" />
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger login-error" })
            }
        </section>
    </div>
</div>

