<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBudget.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />

    <script src="https://kit.fontawesome.com/50679705e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header style="background-color:#395971 !important">
        <div class="container">
            <div class="row">               
                <div class="col-md-10 offset-md-1" style="padding:0;">
                    <div class="navbar navbar-expand-lg navbar-dark bg-dark">

                        @Html.ActionLink(" ", "MainPage", "Transaction", null, new { @class = "h-logo" })
                        <button class="navbar-toggler hamburger" id="hamburger-10" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav mr-auto"></ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row" style="padding-top:15px;">
                <div class="col-md-4 offset-md-4 text-center">

                    <h6>&copy;2019 – MyBudget</h6>
                    <h6 style="font-size: 0.8rem;"><span class="glyphicon glyphicon-envelope" style="margin-right:0.2rem;color:#888;"></span> <a href="mailto:MyBudgetTeam@yandex.kz">mybudgetteam@yandex.kz</a></h6>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".hamburger").click(function () {
                $(this).toggleClass("is-active");
            });
        });
    </script>
</body>
</html>
